<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="fangyuanAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="./log/fangyuan.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{MM-dd HH:mm:ss SSS\} %-5p] [%t] %c{3\} - %m%n" />
		</layout>
	</appender>
	<appender name="housestatAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="./log/housestat.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{MM-dd HH:mm:ss SSS\} %-5p] [%t] %c{3\} - %m%n" />
		</layout>
	</appender>

	<logger name="fangyuanLog" additivity="false">
		<level value="info" />
		<appender-ref ref="fangyuanAppender" />
	</logger>
	<logger name="housestatLog" additivity="false">
		<level value="info" />
		<appender-ref ref="housestatAppender" />
	</logger>

</log4j:configuration>
